:root {
  --primary-color: #4a90e2;
  --accent-color: #f5a623;
  --background-color: #030d2cd8;
  --text-color: antiquewhite;
  --muted-text: #7f8c8d;
  --card-bg: #15242b59;
  --nav-bg: #01060959;
  --footer-bg: #2c3e50;
  --footer-text: #ecf0f1;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}


.navbar {
display: flex;
justify-content: space-between;
align-items: center;
background: var(--nav-bg);
padding: 15px 40px;
margin: 20px;
border-radius: 5px;
}

.logo{
    font-size: 10px;
    margin-right: auto;
}

.navbar div {
font-family: 'Times New Roman', Times, serif;
font-size: large;
color: var(--text-color);
font-weight: bold;
}

.navbar .links {
display: flex;
flex-wrap: wrap;
}

.navbtn{
    display: flex;
    justify-content: space-evenly;
    padding: 2px;
    margin: 5px;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.navbtn:hover{
    background-color: var(--accent-color);
}


a{
    text-decoration: none;
    color: var(--text-color)
}

.therest{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cards{
    width: 30rem;
    height: 20rem;
    border-radius: 9px;
    background-color: var(--card-bg);
    padding-bottom: 30px;
    margin-top: 10px;
    margin-left: 1%;
    transition: transform 0.2s, opacity 0.2s
}
.cards:hover{
    transform: translateY(-5px);
    border-bottom: 5px solid #4a90e2;
    opacity: 0.7;
    
}

.content{
    display: flex;
    padding-bottom: 50%;
}

img{
    max-width: 50%;
    height: fit-content;
}

/* Responsivity */
/* @media (max-width: 700px) {
    body{
        flex-direction: column;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
} */